<h1 align="center"> IST 5520 Milestone 2: Data Analysis I <h1>
<h3 align="center"> AirBnB Dataset <h3>

#### Student: Ronald Adomako
#### Student: Idris Dobbs
#### Student: Narendra Chigili
#### Student: Nikhil Srirama Sai

# Instruction 1: Cleanse and visualize data

## Introduction

AirBnB is a PaaS for the short term rental market. Users use the platform to list residences for short term rentals. We noticed that for big cities, such as New York City, there are many host and some may want to use AirBnB for lucrative means. Given location and characteristics of a property, a new host would want to know whether he or she is charging the optimal amount to rent the space to lodgers.

We noticed that from the New York City dataset for AirBnB, the categorical variable for location  was too coarse. The descriptor says the location is categorized into five boroughs. For a big city such as New York City, there are a lot of insights missing from a business perspective because neighborhoods vary drastically in property amenities even within a single borough. Moreso, the geo-coordinates are too fine for business purposes. To handle this we implement a zip code converter to categorize properties based on their location - Feature Selection.

- What are the largest determinants / predictors of AirBnB rental prices?
- How can we optimize rental revenue based on rental location and other characteristics?
- What price should be charged based on rental location/ characteristics?

We are opperating under the assumption that NYC AirBnB prices has reached a *steady-state*: i.e. the market has been active for long enough in NYC and there are enough data points (observations) in NYC that the **mean** is meaningful.

We want to know whether a host is charging an optimal price. To do this we group the observations by neigborhood and then take the average price. Hosts who charge at or above this price are considered optimal in their respective neighborhood while hosts who charge below the average price for their neighborhood are sub-optimal. Consider the case where all hosts charge the same price within a neighborhood, then the mean is the mode is the median- uniform data, no variance. All the hosts in this neighborhood would be optimal.

Consider the case where one of those hosts charge below what would have been the average, then only that host is sub-optimal while the rest are optimal. Conversely, if one host charge above the rest while everyone else charges the same, then that one host would be optimal while the rest are suboptimal.

Along with the *steady-state* assumption, by grouping the data by neighborhoods we assume that on average homes and amenities are similar by neighborhood. The geo-coordinates are too fine a scale and the boroughs are too coarse a scale. A meso-scale would be by zipcode, which we would expect to have higher precision of similarities between host, or by neighborhood. For a dataset with 39881 observations, transforming geo-coordinates prove to be computationally expensive (22 hours on standard household computer). We chose the next best meso-scale: what AirBnB features as "neighbourhood".

From a business perspective, we want to know what percent of hosts per neighborhood are charging an optimal price, and aggregating this data the percent hosts charge an optimal price in NYC overall. We see that using the neighborhood grouping allows us to compare on a common scale for all hosts. We don't have hosts income, so we wouldn't be able to measure profit. Likewise, revenue wouldn't be a fair scale because hosts with more units will outperform host with smaller units just by volume. A nieghborhood comparison allows a better metric to assess price per room, where we expect reasonably small variance per neighborhood. Furthermore, comparing by percentage is normalizes our comparison in general.

## Data Source and Collection

#### We chose the AirBnB dataset for New York City (NYC). We want to build a model that indicates whether hosts are charging an optimum amount for their rental.

http://insideairbnb.com/new-york-city/

[data dictionary](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit?usp=sharing)

http://insideairbnb.com/get-the-data

http://data.insideairbnb.com/united-states/ny/new-york-city/2022-09-07/visualisations/listings.csv

The data dictionary for New York City AirBnB dataset consists of 75 columns (variables or features) and 39881 observations. Based on our research question and several [Kaggle challenges](https://www.kaggle.com/search?q=airbnb-listing-in-nyc) (www.kaggle.com/search?q=airbnb-listing-in-nyc) we chose the following features for preliminary analysis.

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import sidetable as stb
import numpy as np
import seaborn as sns

%matplotlib inline

In [1]:

csv_URL = "http://data.insideairbnb.com/united-states/ny/new-york-city/2022-09-07/visualisations/listings.csv"
df2 = pd.read_csv(csv_URL)

In [2]:
pd.DataFrame(df2.columns, columns=['Features'])

                          Features
0                               id
1                             name
2                          host_id
3                        host_name
4              neighbourhood_group
5                    neighbourhood
6                         latitude
7                        longitude
8                        room_type
9                            price
10                  minimum_nights
11               number_of_reviews
12                     last_review
13               reviews_per_month
14  calculated_host_listings_count
15                availability_365
16           number_of_reviews_ltm
17                         license

The full data dictionary has the following descriptions:

In [3]:
data = pd.read_csv('data_dictionary.csv')
pd.set_option('display.max_rows',1000)
data

,Field,Type,Calculated,Description
0,id,integer,NaN,Airbnb's unique identifier for the listing
1,listing_url,text,y,NaN
2,scrape_id,bigint,y,"Inside Airbnb ""Scrape"" this was part of"
3,last_scraped,datetime,y,"UTC. The date and time this listing was ""scrap..."
4,source,text,NaN,"One of ""neighbourhood search"" or ""previous scr..."
5,name,text,NaN,Name of the listing
6,description,text,NaN,Detailed description of the listing
7,neighborhood_overview,text,NaN,Host's description of the neighbourhood
8,picture_url,text,NaN,URL to the Airbnb hosted regular sized image f...
9,host_id,integer,NaN,Airbnb's unique identifier for the host/user
10,host_url,text,y,The Airbnb page for the host
11,host_name,text,NaN,Name of the host. Usually just the first name(s).
12,host_since,date,NaN,The date the host/user was created. For hosts ...
13,host_location,text,NaN,The host's self reported location
14,host_about,text,NaN,Description about the host
15,host_response_time,NaN,NaN,NaN
16,host_response_rate,NaN,NaN,NaN
17,host_acceptance_rate,NaN,NaN,That rate at which a host accepts booking requ...
18,host_is_superhost,boolean [t=true; f=false],NaN,NaN
19,host_thumbnail_url,text,NaN,NaN
20,host_picture_url,text,NaN,NaN
21,host_neighbourhood,text,NaN,NaN
22,host_listings_count,text,NaN,The number of listings the host has (per Airbn...
23,host_total_listings_count,text,NaN,The number of listings the host has (per Airbn...
24,host_verifications,NaN,NaN,NaN
25,host_has_profile_pic,boolean [t=true; f=false],NaN,NaN
26,host_identity_verified,boolean [t=true; f=false],NaN,NaN
27,neighbourhood,text,NaN,NaN
28,neighbourhood_cleansed,text,y,The neighbourhood as geocoded using the latitu...
29,neighbourhood_group_cleansed,text,y,The neighbourhood group as geocoded using the ...
30,latitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...
31,longitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...
32,property_type,text,NaN,Self selected property type. Hotels and Bed an...
33,room_type,text,NaN,[Entire home/apt|Private room|Shared room|Hotel]
34,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,All homes are grouped into the following three...
36,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,Entire place
38,NaN,NaN,NaN,Private room
39,NaN,NaN,NaN,Shared room
40,NaN,NaN,NaN,Entire place
41,NaN,NaN,NaN,Entire places are best if you're seeking a hom...
42,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,Private rooms
44,NaN,NaN,NaN,Private rooms are great for when you prefer a ...
45,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,Shared rooms
47,NaN,NaN,NaN,Shared rooms are for when you don't mind shari...
48,accommodates,integer,NaN,The maximum capacity of the listing
49,bathrooms,numeric,NaN,The number of bathrooms in the listing
50,bathrooms_text,string,NaN,The number of bathrooms in the listing.
51,NaN,NaN,NaN,"On the Airbnb web-site, the bathrooms field ha..."
52,bedrooms,integer,NaN,The number of bedrooms
53,beds,integer,NaN,The number of bed(s)
54,amenities,json,NaN,NaN
55,price,currency,NaN,daily price in local currency
56,minimum_nights,integer,NaN,minimum number of night stay for the listing (...
57,maximum_nights,integer,NaN,maximum number of night stay for the listing (...
58,minimum_minimum_nights,integer,y,the smallest minimum_night value from the cale...
59,maximum_minimum_nights,integer,y,the largest minimum_night value from the calen...
60,minimum_maximum_nights,integer,y,the smallest maximum_night value from the cale...
61,maximum_maximum_nights,integer,y,the largest maximum_night value from the calen...
62,minimum_nights_avg_ntm,numeric,y,the average minimum_night value from the calen...
63,maximum_nights_avg_ntm,numeric,y,the average maximum_night value from the calen...
64,calendar_updated,date,NaN,NaN
65,has_availability,boolean,NaN,[t=true; f=false]
66,availability_30,integer,y,avaliability_x. The availability of the listin...
67,availability_60,integer,y,avaliability_x. The availability of the listin...
68,availability_90,integer,y,avaliability_x. The availability of the listin...
69,availability_365,integer,y,avaliability_x. The availability of the listin...
70,calendar_last_scraped,date,NaN,NaN
71,number_of_reviews,integer,NaN,The number of reviews the listing has
72,number_of_reviews_ltm,integer,y,The number of reviews the listing has (in the ...
73,number_of_reviews_l30d,integer,y,The number of reviews the listing has (in the ...
74,first_review,date,y,The date of the first/oldest review
75,last_review,date,y,The date of the last/newest review
76,review_scores_rating,NaN,NaN,NaN
77,review_scores_accuracy,NaN,NaN,NaN
78,review_scores_cleanliness,NaN,NaN,NaN
79,review_scores_checkin,NaN,NaN,NaN
80,review_scores_communication,NaN,NaN,NaN
81,review_scores_location,NaN,NaN,NaN
82,review_scores_value,NaN,NaN,NaN
83,license,text,NaN,The licence/permit/registration number
84,instant_bookable,boolean,NaN,[t=true; f=false]. Whether the guest can autom...
85,calculated_host_listings_count,integer,y,The number of listings the host has in the cur...
86,calculated_host_listings_count_entire_homes,integer,y,The number of Entire home/apt listings the hos...
87,calculated_host_listings_count_private_rooms,integer,y,The number of Private room listings the host h...
88,calculated_host_listings_count_shared_rooms,integer,y,The number of Shared room listings the host ha...
89,reviews_per_month,numeric,y,The number of reviews the listing has over the...

In [4]:
df2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

## Data Manipulation

In [33]:
#df2.groupby?

In [31]:
#Create a data frame grouping by neighborhood for average price
hood_price_obj = df2[['neighbourhood','price']].groupby('neighbourhood')
df_mean_price = hood_price_obj.mean()
df_mean_price[['price']] = df_mean_price[['price']].round(2)
df_mean_price

                               price
neighbourhood
Allerton                      118.78
Arden Heights                 113.86
Arrochar                      132.06
Arverne                       230.26
Astoria                       109.01
Bath Beach                    117.19
Battery Park City             230.90
Bay Ridge                     121.55
Bay Terrace                   151.25
Baychester                    111.28
Bayside                       182.70
Bayswater                     106.75
Bedford-Stuyvesant            140.85
Belle Harbor                  354.86
Bellerose                     132.82
Belmont                       113.73
Bensonhurst                    96.74
Bergen Beach                  281.17
Bloomfield                    188.00
Boerum Hill                   249.72
Borough Park                   86.93
Breezy Point                  173.00
Briarwood                     390.86
Brighton Beach                109.43
Broad Channel                 254.00
Bronx Park                    123.60
Bronxdale                      82.11
Brooklyn Heights              243.96
Brownsville                   149.77
Bull's Head                    60.00
Bushwick                      114.35
Cambria Heights               137.44
Canarsie                      166.15
Carroll Gardens               228.87
Castle Hill                   110.75
Castleton Corners             115.86
Central Park                  298.08
Chelsea                       275.72
Chelsea, Staten Island         90.00
Chinatown                     240.10
City Island                   168.60
Civic Center                  237.57
Claremont Village             106.82
Clason Point                  110.67
Clifton                       165.73
Clinton Hill                  198.50
Co-op City                    110.00
Cobble Hill                   250.74
College Point                 114.75
Columbia St                   200.74
Concord                       113.12
Concourse                     109.56
Concourse Village              86.68
Coney Island                  131.68
Corona                        100.26
Country Club                   98.00
Crotona Park                  104.00
Crown Heights                 143.16
Cypress Hills                 112.88
DUMBO                         281.08
Ditmars Steinway              122.32
Dongan Hills                  155.17
Douglaston                     89.86
Downtown Brooklyn             248.22
Dyker Heights                 105.24
East Elmhurst                 140.92
East Flatbush                 132.93
East Harlem                   193.00
East Morrisania               107.56
East New York                 121.00
East Village                  221.96
Eastchester                   134.21
Edenwald                      105.20
Edgemere                      179.93
Ellis Island                  198.28
Elmhurst                       93.11
Eltingville                   210.80
Emerson Hill                  111.75
Far Rockaway                  230.82
Ferry Point Park              225.00
Fieldston                      88.70
Financial District            347.61
Flatbush                      150.74
Flatiron District             407.53
Flatlands                     144.50
Floral Park                   109.27
Flushing                      105.47
Flushing Meadows Corona Park  101.80
Fordham                        87.17
Forest Hills                  179.52
Forest Park                   100.50
Fort Greene                   194.05
Fort Hamilton                 106.11
Fort Wadsworth                650.00
Fresh Meadows                 137.31
Freshkills Park               141.50
Gerritsen Beach               225.80
Glendale                      131.16
Gowanus                       239.26
Gramercy                      259.63
Graniteville                   83.75
Grant City                     60.14
Gravesend                     127.24
Great Kills                   129.75
Green-Wood Cemetery           160.90
Greenpoint                    198.15
Greenwich Village             338.06
Grymes Hill                   167.57
Harlem                        164.74
Hell's Kitchen                280.13
Highbridge                     94.88
Hollis                         80.93
Hollis Hills                  497.00
Holliswood                     89.67
Howard Beach                  134.79
Howland Hook                  131.48
Huguenot                      111.75
Hunts Point                    88.83
Inwood                         92.93
Jackson Heights                93.37
Jamaica                       133.65
Jamaica Estates               149.13
Jamaica Hills                 123.20
Kensington                    151.76
Kew Gardens                   116.46
Kew Gardens Hills             152.74
Kingsbridge                    97.79
Kips Bay                      245.46
LaGuardia Airport             116.50
Laurelton                     115.00
Lighthouse Hill               169.00
Little Italy                  206.85
Little Neck                   136.00
Long Island City              211.86
Longwood                      265.27
Lower East Side               304.58
Manhattan Beach               193.56
Marble Hill                   131.22
Marine Park                   192.75
Mariners Harbor                76.82
Maspeth                       124.89
Melrose                        98.94
Middle Village                136.44
Midland Beach                 151.00
Midtown                       381.70
Midwood                        92.18
Mill Basin                    143.50
Morningside Heights           134.10
Morris Heights                117.38
Morris Park                   106.74
Morrisania                    105.89
Mott Haven                    136.97
Mount Eden                     99.00
Mount Hope                    113.71
Murray Hill                   306.65
Navy Yard                     359.00
Neponsit                      268.50
New Brighton                  198.30
New Dorp                       40.00
New Dorp Beach                120.00
New Springville               171.00
NoHo                          304.95
Nolita                        273.72
North Riverdale                89.68
Norwood                       108.74
Oakwood                       159.00
Olinville                     140.50
Ozone Park                    117.64
Park Hill                     120.57
Park Slope                    216.51
Parkchester                   114.54
Pelham Bay                    132.07
Pelham Bay Park               121.33
Pelham Gardens                 99.91
Pelham Islands                250.00
Port Ivory                    126.07
Port Morris                   128.74
Port Richmond                 342.30
Prince's Bay                  206.17
Prospect Heights              186.41
Prospect Park                 653.14
Prospect-Lefferts Gardens     118.74
Queens Village                144.07
Randall Manor                 126.00
Red Hook                      256.71
Rego Park                     107.58
Richmond Hill                 109.81
Richmondtown                  118.33
Ridgewood                     106.47
Riverdale                     317.11
Rockaway Beach                180.12
Rockaway Park                 224.82
Roosevelt Island              133.79
Rosebank                      109.29
Rosedale                      127.24
Schuylerville                 183.00
Sea Gate                      108.40
Sheepshead Bay                209.65
Shore Acres                   126.78
Silver Lake                   122.33
SoHo                          450.57
Soundview                      93.20
South Beach                   107.50
South Ozone Park              146.25
South Slope                   171.55
Springfield Gardens           133.80
Spuyten Duyvil                198.80
St. Albans                    131.40
St. George                    111.60
Stapleton                     156.11
Stuyvesant Town               185.73
Sunnyside                     103.92
Sunset Park                   123.87
Theater District              471.72
Throgs Neck                   132.61
Todt Hill                     179.00
Tompkinsville                 179.68
Tottenville                   286.00
Tremont                       111.04
Tribeca                       533.98
Two Bridges                   146.93
Unionport                     152.31
University Heights             93.46
Upper East Side               243.43
Upper West Side               231.74
Van Cortlandt Park            125.81
Van Nest                      161.74
Vinegar Hill                  224.80
Wakefield                     140.42
Washington Heights            117.28
West Brighton                  76.19
West Farms                     79.33
West Village                  319.79
Westchester Square             85.14
Westerleigh                   104.00
Whitestone                    171.38
Williamsbridge                118.97
Williamsburg                  183.21
Willowbrook                   329.00
Windsor Terrace               175.40
Woodhaven                      94.53
Woodlawn                      141.00
Woodrow                       115.00
Woodside                       84.72

In [30]:
df_mean_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, Allerton to Woodside
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   244 non-null    float64
dtypes: float64(1)
memory usage: 3.8+ KB

**We have reduced 39881 into 244 rows of manageable data!**

In [80]:
df2.stb.freq(['neighbourhood'])

,neighbourhood,count,percent,cumulative_count,cumulative_percent
0,Bedford-Stuyvesant,2779,6.968230,2779,6.968230
1,Williamsburg,2456,6.158321,5235,13.126551
2,Harlem,1878,4.709009,7113,17.835561
3,Midtown,1701,4.265189,8814,22.100750
4,Bushwick,1657,4.154861,10471,26.255610
5,Upper West Side,1630,4.087159,12101,30.342770
6,Hell's Kitchen,1578,3.956771,13679,34.299541
7,Upper East Side,1379,3.457787,15058,37.757328
8,Crown Heights,1197,3.001429,16255,40.758757
9,East Village,1057,2.650385,17312,43.409142
10,Chelsea,901,2.259221,18213,45.668363
11,Lower East Side,797,1.998445,19010,47.666809
12,East Harlem,768,1.925729,19778,49.592538
13,Greenpoint,708,1.775281,20486,51.367819
14,Astoria,686,1.720117,21172,53.087937
15,Washington Heights,587,1.471879,21759,54.559815
16,West Village,572,1.434267,22331,55.994082
17,East Flatbush,530,1.328954,22861,57.323036
18,Flatbush,488,1.223640,23349,58.546676
19,Flushing,485,1.216118,23834,59.762794
20,Financial District,482,1.208596,24316,60.971390
21,Long Island City,477,1.196058,24793,62.167448
22,Prospect-Lefferts Gardens,430,1.078208,25223,63.245656
23,Kips Bay,408,1.023044,25631,64.268699
24,Murray Hill,371,0.930268,26002,65.198967
25,Clinton Hill,367,0.920238,26369,66.119205
26,Woodside,336,0.842506,26705,66.961711
27,East New York,326,0.817432,27031,67.779143
28,Park Slope,324,0.812417,27355,68.591560
29,Theater District,322,0.807402,27677,69.398962
30,Fort Greene,322,0.807402,27999,70.206364
31,Ridgewood,315,0.789850,28314,70.996214
32,Jamaica,312,0.782327,28626,71.778541
33,Sunset Park,297,0.744716,28923,72.523257
34,Sunnyside,284,0.712119,29207,73.235375
35,Ditmars Steinway,253,0.634387,29460,73.869763
36,Elmhurst,248,0.621850,29708,74.491613
37,Tribeca,246,0.616835,29954,75.108448
38,SoHo,242,0.606805,30196,75.715253
39,Chinatown,237,0.594268,30433,76.309521
40,East Elmhurst,234,0.586746,30667,76.896266
41,Gramercy,227,0.569193,30894,77.465460
42,Nolita,223,0.559164,31117,78.024623
43,Prospect Heights,217,0.544119,31334,78.568742
44,Canarsie,211,0.529074,31545,79.097816
45,Jackson Heights,207,0.519044,31752,79.616860
46,Greenwich Village,206,0.516537,31958,80.133397
47,Wakefield,192,0.481432,32150,80.614829
48,South Slope,190,0.476417,32340,81.091246
49,Morningside Heights,188,0.471402,32528,81.562649
50,Inwood,186,0.466388,32714,82.029036
51,Carroll Gardens,179,0.448835,32893,82.477872
52,Sheepshead Bay,172,0.431283,33065,82.909155
53,Cypress Hills,168,0.421253,33233,83.330408
54,Gowanus,166,0.416238,33399,83.746646
55,Rosedale,147,0.368597,33546,84.115243
56,Bay Ridge,147,0.368597,33693,84.483839
57,Springfield Gardens,137,0.343522,33830,84.827361
58,Boerum Hill,131,0.328477,33961,85.155839
59,Forest Hills,130,0.325970,34091,85.481808
60,Richmond Hill,118,0.295880,34209,85.777689
61,Kensington,117,0.293373,34326,86.071061
62,Windsor Terrace,114,0.285850,34440,86.356912
63,St. Albans,113,0.283343,34553,86.640255
64,Arverne,110,0.275821,34663,86.916075
65,Brownsville,108,0.270806,34771,87.186881
66,Queens Village,104,0.260776,34875,87.447657
67,Midwood,103,0.258268,34978,87.705925
68,Maspeth,102,0.255761,35080,87.961686
69,Little Italy,102,0.255761,35182,88.217447
70,Flatlands,101,0.253253,35283,88.470700
71,Flatiron District,98,0.245731,35381,88.716431
72,Rego Park,93,0.233194,35474,88.949625
73,Mott Haven,92,0.230686,35566,89.180311
74,Brooklyn Heights,92,0.230686,35658,89.410998
75,Ozone Park,88,0.220656,35746,89.631654
76,Battery Park City,87,0.218149,35833,89.849803
77,Woodhaven,85,0.213134,35918,90.062937
78,Rockaway Park,85,0.213134,36003,90.276071
79,Ellis Island,79,0.198089,36082,90.474161
80,Borough Park,76,0.190567,36158,90.664728
81,Kingsbridge,75,0.188059,36233,90.852787
82,Cambria Heights,75,0.188059,36308,91.040847
83,South Ozone Park,72,0.180537,36380,91.221384
84,Rockaway Beach,72,0.180537,36452,91.401921
85,Corona,72,0.180537,36524,91.582458
86,Bensonhurst,72,0.180537,36596,91.762995
87,Bayside,71,0.178030,36667,91.941025
88,Williamsbridge,70,0.175522,36737,92.116547
89,Laurelton,70,0.175522,36807,92.292069
90,Cobble Hill,69,0.173015,36876,92.465084
91,Gravesend,68,0.170507,36944,92.635591
92,Longwood,67,0.168000,37011,92.803591
93,Central Park,66,0.165492,37077,92.969083
94,Fordham,63,0.157970,37140,93.127053
95,Brighton Beach,60,0.150448,37200,93.277501
96,Stuyvesant Town,59,0.147940,37259,93.425441
97,Red Hook,59,0.147940,37318,93.573381
98,Downtown Brooklyn,59,0.147940,37377,93.721321
99,Glendale,56,0.140418,37433,93.861739
100,Far Rockaway,56,0.140418,37489,94.002156
101,Concourse,52,0.130388,37541,94.132544
102,Kew Gardens,50,0.125373,37591,94.257917
103,Roosevelt Island,47,0.117851,37638,94.375768
104,Parkchester,46,0.115343,37684,94.491111
105,St. George,45,0.112836,37729,94.603947
106,Claremont Village,45,0.112836,37774,94.716782
107,Allerton,45,0.112836,37819,94.829618
108,Two Bridges,44,0.110328,37863,94.939946
109,Randall Manor,40,0.100298,37903,95.040245
110,NoHo,40,0.100298,37943,95.140543
111,Port Morris,39,0.097791,37982,95.238334
112,Clason Point,39,0.097791,38021,95.336125
113,North Riverdale,38,0.095283,38059,95.431408
114,Jamaica Estates,38,0.095283,38097,95.526692
115,Tompkinsville,37,0.092776,38134,95.619468
116,Concourse Village,37,0.092776,38171,95.712244
117,Van Cortlandt Park,36,0.090269,38207,95.802512
118,Middle Village,36,0.090269,38243,95.892781
119,Fort Hamilton,36,0.090269,38279,95.983050
120,College Point,36,0.090269,38315,96.073318
121,Briarwood,36,0.090269,38351,96.163587
122,Kew Gardens Hills,35,0.087761,38386,96.251348
123,Howard Beach,33,0.082746,38419,96.334094
124,Pelham Gardens,32,0.080239,38451,96.414333
125,Fresh Meadows,32,0.080239,38483,96.494571
126,Throgs Neck,31,0.077731,38514,96.572303
127,Mount Hope,31,0.077731,38545,96.650034
128,Vinegar Hill,30,0.075224,38575,96.725258
129,Hunts Point,30,0.075224,38605,96.800481
130,Edenwald,30,0.075224,38635,96.875705
131,Civic Center,30,0.075224,38665,96.950929
132,Belmont,30,0.075224,38695,97.026153
133,Hollis,29,0.072716,38724,97.098869
134,Baychester,29,0.072716,38753,97.171585
135,West Brighton,27,0.067701,38780,97.239287
136,Van Nest,27,0.067701,38807,97.306988
137,Norwood,27,0.067701,38834,97.374690
138,Morris Park,27,0.067701,38861,97.442391
139,Columbia St,27,0.067701,38888,97.510093
140,DUMBO,26,0.065194,38914,97.575286
141,Bath Beach,26,0.065194,38940,97.640480
142,Tremont,25,0.062686,38965,97.703167
143,Highbridge,24,0.060179,38989,97.763346
144,Eastchester,24,0.060179,39013,97.823525
145,Bayswater,24,0.060179,39037,97.883704
146,Mariners Harbor,22,0.055164,39059,97.938868
147,Coney Island,22,0.055164,39081,97.994032
148,Morris Heights,21,0.052657,39102,98.046689
149,Howland Hook,21,0.052657,39123,98.099346
150,Port Richmond,20,0.050149,39143,98.149495
151,Stapleton,19,0.047642,39162,98.197136
152,Schuylerville,19,0.047642,39181,98.244778
153,Morrisania,19,0.047642,39200,98.292420
154,Bronxdale,19,0.047642,39219,98.340062
155,Bergen Beach,18,0.045134,39237,98.385196
156,Dyker Heights,17,0.042627,39254,98.427823
157,Bellerose,17,0.042627,39271,98.470450
158,Arrochar,17,0.042627,39288,98.513076
159,Melrose,16,0.040119,39304,98.553196
160,Marine Park,16,0.040119,39320,98.593315
161,Soundview,15,0.037612,39335,98.630927
162,Sea Gate,15,0.037612,39350,98.668539
163,Port Ivory,15,0.037612,39365,98.706151
164,Jamaica Hills,15,0.037612,39380,98.743763
165,City Island,15,0.037612,39395,98.781375
166,Pelham Bay,14,0.035104,39409,98.816479
167,Mill Basin,14,0.035104,39423,98.851583
168,Grant City,14,0.035104,39437,98.886688
169,Forest Park,14,0.035104,39451,98.921792
170,Edgemere,14,0.035104,39465,98.956897
171,Whitestone,13,0.032597,39478,98.989494
172,University Heights,13,0.032597,39491,99.022091
173,Unionport,13,0.032597,39504,99.054688
174,Olinville,12,0.030090,39516,99.084777
175,Mount Eden,12,0.030090,39528,99.114867
176,Floral Park,11,0.027582,39539,99.142449
177,Clifton,11,0.027582,39550,99.170031
178,New Brighton,10,0.025075,39560,99.195105
179,Green-Wood Cemetery,10,0.025075,39570,99.220180
180,Flushing Meadows Corona Park,10,0.025075,39580,99.245255
181,Fieldston,10,0.025075,39590,99.270329
182,Bronx Park,10,0.025075,39600,99.295404
183,Shore Acres,9,0.022567,39609,99.317971
184,Riverdale,9,0.022567,39618,99.340538
185,Marble Hill,9,0.022567,39627,99.363105
186,Manhattan Beach,9,0.022567,39636,99.385672
187,East Morrisania,9,0.022567,39645,99.408240
188,Tottenville,8,0.020060,39653,99.428299
189,Midland Beach,8,0.020060,39661,99.448359
190,Freshkills Park,8,0.020060,39669,99.468419
191,Concord,8,0.020060,39677,99.488478
192,Woodlawn,7,0.017552,39684,99.506030
193,Westchester Square,7,0.017552,39691,99.523583
194,Rosebank,7,0.017552,39698,99.541135
195,Prospect Park,7,0.017552,39705,99.558687
196,Park Hill,7,0.017552,39712,99.576239
197,Oakwood,7,0.017552,39719,99.593792
198,Navy Yard,7,0.017552,39726,99.611344
199,Little Neck,7,0.017552,39733,99.628896
200,Grymes Hill,7,0.017552,39740,99.646448
201,Douglaston,7,0.017552,39747,99.664000
202,Castleton Corners,7,0.017552,39754,99.681553
203,Belle Harbor,7,0.017552,39761,99.699105
204,Arden Heights,7,0.017552,39768,99.716657
205,West Farms,6,0.015045,39774,99.731702
206,Prince's Bay,6,0.015045,39780,99.746747
207,New Dorp Beach,6,0.015045,39786,99.761791
208,Dongan Hills,6,0.015045,39792,99.776836
209,Spuyten Duyvil,5,0.012537,39797,99.789373
210,Gerritsen Beach,5,0.012537,39802,99.801911
211,Eltingville,5,0.012537,39807,99.814448
212,Todt Hill,4,0.010030,39811,99.824478
213,Huguenot,4,0.010030,39815,99.834508
214,Great Kills,4,0.010030,39819,99.844537
215,Graniteville,4,0.010030,39823,99.854567
216,Emerson Hill,4,0.010030,39827,99.864597
217,Castle Hill,4,0.010030,39831,99.874627
218,Breezy Point,4,0.010030,39835,99.884657
219,Bay Terrace,4,0.010030,39839,99.894687
220,Silver Lake,3,0.007522,39842,99.902209
221,Richmondtown,3,0.007522,39845,99.909731
222,Pelham Bay Park,3,0.007522,39848,99.917254
223,New Springville,3,0.007522,39851,99.924776
224,Holliswood,3,0.007522,39854,99.932299
225,South Beach,2,0.005015,39856,99.937314
226,Neponsit,2,0.005015,39858,99.942328
227,Lighthouse Hill,2,0.005015,39860,99.947343
228,LaGuardia Airport,2,0.005015,39862,99.952358
229,Crotona Park,2,0.005015,39864,99.957373
230,Co-op City,2,0.005015,39866,99.962388
231,"Chelsea, Staten Island",2,0.005015,39868,99.967403
232,Broad Channel,2,0.005015,39870,99.972418
233,Woodrow,1,0.002507,39871,99.974925
234,Willowbrook,1,0.002507,39872,99.977433
235,Westerleigh,1,0.002507,39873,99.979940
236,Pelham Islands,1,0.002507,39874,99.982448
237,New Dorp,1,0.002507,39875,99.984955
238,Hollis Hills,1,0.002507,39876,99.987463
239,Fort Wadsworth,1,0.002507,39877,99.989970
240,Ferry Point Park,1,0.002507,39878,99.992478
241,Country Club,1,0.002507,39879,99.994985
242,Bull's Head,1,0.002507,39880,99.997493
243,Bloomfield,1,0.002507,39881,100.000000

In [82]:
#df2.stb.freq(['neighbourhood']).describe()

In [50]:

#df = df2.sort_values('neighbourhood')
df_hood = df2.stb.freq(['neighbourhood'])
df_hood = df_hood.loc[:,'neighbourhood':'percent']
df_hood = df_hood.sort_values('neighbourhood')

In [55]:
df_hood.reset_index(inplace=True)

In [71]:
df_mean = df_mean_price[['price']].reset_index()
df_mean.head()

   neighbourhood   price
0       Allerton  118.78
1  Arden Heights  113.86
2       Arrochar  132.06
3        Arverne  230.26
4        Astoria  109.01

In [73]:
df_hood['price'] = df_mean['price']
df_hood.rename(columns={'index':'pop_rank'}, inplace=True)
df_hood.head()

   pop_rank  neighbourhood  count   percent   price
0       107       Allerton     45  0.112836  118.78
1       204  Arden Heights      7  0.017552  113.86
2       158       Arrochar     17  0.042627  132.06
3        64        Arverne    110  0.275821  230.26
4        14        Astoria    686  1.720117  109.01

In [77]:
df_hood['opt_percent'] = /df_hood['percent']
df_hood.head()

ValueError: Can only compare identically-labeled Series objects

## Data Summarization and Visualization

# Instruction 2: Jupyter Notebook

In [5]:
!which python

/opt/anaconda3/envs/MyEnv/bin/python

In [6]:
!which jupyter

/opt/anaconda3/envs/MyEnv/bin/jupyter

In [7]:
!which python3

/opt/anaconda3/envs/MyEnv/bin/python3

# Instruction 3: Github Repository, Handles, and Evaluation

https://github.com/Naren1610/IST5520GrpProj/

### IST5520GrpProj

<h4 align="left"> Ronald Adomako, adomakor412 </h3>
<h4 align="left"> Idris Dobbs, idobbs-2012 </h3>
<h4 align="left"> Narendra Chigili, Naren1610 </h3>
<h4 align="left"> Nikhil Srirama Sai, SaiNikhilPalaparthi </h3>