<h1 align="center"> IST 5520 Milestone 2: Data Analysis I <h1>
<h3 align="center"> AirBnB Dataset <h3>

#### Student: Ronald Adomako
#### Student: Idris Dobbs
#### Student: Narendra Chigili
#### Student: Nikhil Srirama Sai

# Instruction 1: Cleanse and visualize data

## Introduction

AirBnB is a PaaS for the short term rental market. Users use the platform to list residences for short term rentals. We noticed that for big cities, such as New York City, there are many host and some may want to use AirBnB for lucrative means. Given location and characteristics of a property, a new host would want to know whether he or she is charging the optimal amount to rent the space to lodgers.

We noticed that from the New York City dataset for AirBnB, the categorical variable for location  was too coarse. The descriptor says the location is categorized into five boroughs. For a big city such as New York City, there are a lot of insights missing from a business perspective because neighborhoods vary drastically in property amenities even within a single borough. Moreso, the geo-coordinates are too fine for business purposes. To handle this we implement a zip code converter to categorize properties based on their location - Feature Selection.

- What are the largest determinants / predictors of AirBnB rental prices?
- How can we optimize rental revenue based on rental location and other characteristics?
- What price should be charged based on rental location/ characteristics?

We are opperating under the assumption that NYC AirBnB prices has reached a *steady-state*: i.e. the market has been active for long enough in NYC and there are enough data points (observations) in NYC that the **mean** is meaningful.

We want to know whether a host is charging an optimal price. To do this we group the observations by neigborhood and then take the average price. Hosts who charge at or above this price are considered optimal in their respective neighborhood while hosts who charge below the average price for their neighborhood are sub-optimal. Consider the case where all hosts charge the same price within a neighborhood, then the mean is the mode is the median- uniform data, no variance. All the hosts in this neighborhood would be optimal.

Consider the case where one of those hosts charge below what would have been the average, then only that host is sub-optimal while the rest are optimal. Conversely, if one host charge above the rest while everyone else charges the same, then that one host would be optimal while the rest are suboptimal.

Along with the *steady-state* assumption, by grouping the data by neighborhoods we assume that on average homes and amenities are similar by neighborhood. The geo-coordinates are too fine a scale and the boroughs are too coarse a scale. A meso-scale would be by zipcode, which we would expect to have higher precision of similarities between host, or by neighborhood. For a dataset with 39881 observations, transforming geo-coordinates prove to be computationally expensive (22 hours on standard household computer). We chose the next best meso-scale: what AirBnB features as "neighbourhood".

From a business perspective, we want to know what percent of hosts per neighborhood are charging an optimal price, and aggregating this data the percent hosts charge an optimal price in NYC overall. We see that using the neighborhood grouping allows us to compare on a common scale for all hosts. We don't have hosts income, so we wouldn't be able to measure profit. Likewise, revenue wouldn't be a fair scale because hosts with more units will outperform host with smaller units just by volume. A nieghborhood comparison allows a better metric to assess price per room, where we expect reasonably small variance per neighborhood. Furthermore, comparing by percentage is normalizes our comparison in general.

## Data Source and Collection

#### We chose the AirBnB dataset for New York City (NYC). We want to build a model that indicates whether hosts are charging an optimum amount for their rental.

http://insideairbnb.com/new-york-city/

[data dictionary](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit?usp=sharing)

http://insideairbnb.com/get-the-data

http://data.insideairbnb.com/united-states/ny/new-york-city/2022-09-07/visualisations/listings.csv

The data dictionary for New York City AirBnB dataset consists of 75 columns (variables or features) and 39881 observations. Based on our research question and several [Kaggle challenges](https://www.kaggle.com/search?q=airbnb-listing-in-nyc) (www.kaggle.com/search?q=airbnb-listing-in-nyc) we chose the following features for preliminary analysis.

## Research Question

What are the largest determinants / predictors of AirBnB rental prices?

How can we optimize rental revenue based on rental location and other characteristics? 

What price should be charged based on rental location/ characteristics?

## Data

The dataset for New York City consists of 75 columns (variables) and 39881 observations. 

The following is the data dictionary for all of AirBnB's data.

In [5]:
import pandas as pd
csv_URL = "http://data.insideairbnb.com/united-states/ny/new-york-city/2022-09-07/visualisations/listings.csv"
df2 = pd.read_csv(csv_URL)

In [10]:
pd.DataFrame(df2.columns, columns=['Features'])

                          Features
0                               id
1                             name
2                          host_id
3                        host_name
4              neighbourhood_group
5                    neighbourhood
6                         latitude
7                        longitude
8                        room_type
9                            price
10                  minimum_nights
11               number_of_reviews
12                     last_review
13               reviews_per_month
14  calculated_host_listings_count
15                availability_365
16           number_of_reviews_ltm
17                         license

The full data dictionary has the following descriptions:

In [11]:
data = pd.read_csv('data_dictionary.csv')
pd.set_option('display.max_rows',1000)
data

,Field,Type,Calculated,Description
0,id,integer,NaN,Airbnb's unique identifier for the listing
1,listing_url,text,y,NaN
2,scrape_id,bigint,y,"Inside Airbnb ""Scrape"" this was part of"
3,last_scraped,datetime,y,"UTC. The date and time this listing was ""scrap..."
4,source,text,NaN,"One of ""neighbourhood search"" or ""previous scr..."
5,name,text,NaN,Name of the listing
6,description,text,NaN,Detailed description of the listing
7,neighborhood_overview,text,NaN,Host's description of the neighbourhood
8,picture_url,text,NaN,URL to the Airbnb hosted regular sized image f...
9,host_id,integer,NaN,Airbnb's unique identifier for the host/user
10,host_url,text,y,The Airbnb page for the host
11,host_name,text,NaN,Name of the host. Usually just the first name(s).
12,host_since,date,NaN,The date the host/user was created. For hosts ...
13,host_location,text,NaN,The host's self reported location
14,host_about,text,NaN,Description about the host
15,host_response_time,NaN,NaN,NaN
16,host_response_rate,NaN,NaN,NaN
17,host_acceptance_rate,NaN,NaN,That rate at which a host accepts booking requ...
18,host_is_superhost,boolean [t=true; f=false],NaN,NaN
19,host_thumbnail_url,text,NaN,NaN
20,host_picture_url,text,NaN,NaN
21,host_neighbourhood,text,NaN,NaN
22,host_listings_count,text,NaN,The number of listings the host has (per Airbn...
23,host_total_listings_count,text,NaN,The number of listings the host has (per Airbn...
24,host_verifications,NaN,NaN,NaN
25,host_has_profile_pic,boolean [t=true; f=false],NaN,NaN
26,host_identity_verified,boolean [t=true; f=false],NaN,NaN
27,neighbourhood,text,NaN,NaN
28,neighbourhood_cleansed,text,y,The neighbourhood as geocoded using the latitu...
29,neighbourhood_group_cleansed,text,y,The neighbourhood group as geocoded using the ...
30,latitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...
31,longitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...
32,property_type,text,NaN,Self selected property type. Hotels and Bed an...
33,room_type,text,NaN,[Entire home/apt|Private room|Shared room|Hotel]
34,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,All homes are grouped into the following three...
36,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,Entire place
38,NaN,NaN,NaN,Private room
39,NaN,NaN,NaN,Shared room
40,NaN,NaN,NaN,Entire place
41,NaN,NaN,NaN,Entire places are best if you're seeking a hom...
42,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,Private rooms
44,NaN,NaN,NaN,Private rooms are great for when you prefer a ...
45,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,Shared rooms
47,NaN,NaN,NaN,Shared rooms are for when you don't mind shari...
48,accommodates,integer,NaN,The maximum capacity of the listing
49,bathrooms,numeric,NaN,The number of bathrooms in the listing
50,bathrooms_text,string,NaN,The number of bathrooms in the listing.
51,NaN,NaN,NaN,"On the Airbnb web-site, the bathrooms field ha..."
52,bedrooms,integer,NaN,The number of bedrooms
53,beds,integer,NaN,The number of bed(s)
54,amenities,json,NaN,NaN
55,price,currency,NaN,daily price in local currency
56,minimum_nights,integer,NaN,minimum number of night stay for the listing (...
57,maximum_nights,integer,NaN,maximum number of night stay for the listing (...
58,minimum_minimum_nights,integer,y,the smallest minimum_night value from the cale...
59,maximum_minimum_nights,integer,y,the largest minimum_night value from the calen...
60,minimum_maximum_nights,integer,y,the smallest maximum_night value from the cale...
61,maximum_maximum_nights,integer,y,the largest maximum_night value from the calen...
62,minimum_nights_avg_ntm,numeric,y,the average minimum_night value from the calen...
63,maximum_nights_avg_ntm,numeric,y,the average maximum_night value from the calen...
64,calendar_updated,date,NaN,NaN
65,has_availability,boolean,NaN,[t=true; f=false]
66,availability_30,integer,y,avaliability_x. The availability of the listin...
67,availability_60,integer,y,avaliability_x. The availability of the listin...
68,availability_90,integer,y,avaliability_x. The availability of the listin...
69,availability_365,integer,y,avaliability_x. The availability of the listin...
70,calendar_last_scraped,date,NaN,NaN
71,number_of_reviews,integer,NaN,The number of reviews the listing has
72,number_of_reviews_ltm,integer,y,The number of reviews the listing has (in the ...
73,number_of_reviews_l30d,integer,y,The number of reviews the listing has (in the ...
74,first_review,date,y,The date of the first/oldest review
75,last_review,date,y,The date of the last/newest review
76,review_scores_rating,NaN,NaN,NaN
77,review_scores_accuracy,NaN,NaN,NaN
78,review_scores_cleanliness,NaN,NaN,NaN
79,review_scores_checkin,NaN,NaN,NaN
80,review_scores_communication,NaN,NaN,NaN
81,review_scores_location,NaN,NaN,NaN
82,review_scores_value,NaN,NaN,NaN
83,license,text,NaN,The licence/permit/registration number
84,instant_bookable,boolean,NaN,[t=true; f=false]. Whether the guest can autom...
85,calculated_host_listings_count,integer,y,The number of listings the host has in the cur...
86,calculated_host_listings_count_entire_homes,integer,y,The number of Entire home/apt listings the hos...
87,calculated_host_listings_count_private_rooms,integer,y,The number of Private room listings the host h...
88,calculated_host_listings_count_shared_rooms,integer,y,The number of Shared room listings the host ha...
89,reviews_per_month,numeric,y,The number of reviews the listing has over the...

In [3]:
df2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

## Data Manipulation

## Data Summarization and Visualization

# Instruction 2: Jupyter Notebook

In [5]:
!which python

/opt/anaconda3/envs/MyEnv/bin/python

In [6]:
!which jupyter

/opt/anaconda3/envs/MyEnv/bin/jupyter

In [7]:
!which python3

/opt/anaconda3/envs/MyEnv/bin/python3

# Instruction 3: Github Repository, Handles, and Evaluation

https://github.com/Naren1610/IST5520GrpProj/

### IST5520GrpProj

<h4 align="left"> Ronald Adomako, adomakor412 </h3>
<h4 align="left"> Idris Dobbs, idobbs-2012 </h3>
<h4 align="left"> Narendra Chigili, Naren1610 </h3>
<h4 align="left"> Nikhil Srirama Sai, SaiNikhilPalaparthi </h3>